page-sms {
    .toolbar-content{
        display: flex;
        .icon{
            color: #ddd;
        }
    }
    .label{
        padding: 0 5px 0 5px;
    }
    .input{

    }
    .button{
        float: right;
    }
}
