page-setting {
   .option{
       border-color: rgb(35, 126, 47);
   }
   .icon{
       font-size: 18px;
   }
   .my-icon{
       border: 1px solid #a19999;
       border-radius: 100%;
       min-height: 2.3rem;
       padding: 2px;
   }
}
