page-menu {
    font-family: 'Calibri';
    .color-container{
        padding: 5px;
        .btn-color{
            margin: 2px 5px;
            height: 30px;
            width: 22px;
            border: 1px solid #ddd;
            border-radius: 100%;
        }
    }
}
